 .note {
    background-color: dodgerblue;
    color: white;
    width: 200px;
    padding: 14px 20px;
    margin: 8px 0; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transform: translateX(6%);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family:Comic Sans MS;

}

 a:hover, a:active {
    background-color: darkblue;
}